<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Volokushina Profile</title>
    <link rel="stylesheet" href="style.css">
</head>
<body style=".background_color">
    <header>
        <img src="my_image.jpg" alt="Profile Picture" class="center">
        <h1>Ksenia Volokushina</h1>
    </header>
    <section id="about-me">
        <p>Python Programmer | InfoSec Specialist</p>
    </section>
    <section id="short-info">
        <p></p>
    </section>
</body>
</html>
